.card {
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    padding: 12px 26px;
}

.card:hover {
    background-color: rgba(48, 53, 75, 0.3);
    ;
}

.tableImage {
    width: 24px;
    height: 20px;
    border-radius: 4px;
}