.task {
    background-color: rgba(220, 218, 255, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.task:hover {
    background-color: rgba(220, 218, 255, 0.3);
}

.taskContent {
    display: flex;
    padding: 12px;
    font-size: 14px;
    gap: 12px;
}

.taskContent input {
    vertical-align: middle;
    cursor: pointer;
}

.removeIconContainer {
    display: none;
}

.taskContent:hover>.removeIconContainer {
    position: absolute;
    display: block;
    top: 8px;
    right: 12px;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    padding: 4px;
    transition: 0.3s;
}

.taskContent:hover>.removeIconContainer:hover {
    display: block;
    background-color: rgba(220, 218, 255, 0.2);
}